<% data.todos.forEach(function(todo){ %>
<li class="<%= todo.done  ? 'completed' : '' %>">
  <div class="view">
    <input class="toggle" type="checkbox" <%= todo.done  ? 'checked' : '' %>>
    <label>
      <%= todo.field %>
    </label>
    <button class="destroy"></button>
  </div>
  <input class="edit" value="Create a TodoMVC template">
</li>
<% }); %>